@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
html > body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

.popup {
  width: 60vw;
  height: 60vh;
  margin: auto;
  padding: 10% 5%;
  z-index: 3;
  position: absolute;
  top: 20vh;
  bottom: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #7bcbfe;
  border-radius: 10%;
  box-shadow: 0px 0px 2px 2px;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 0;
  line-height: 1em;
}

.dogimage {
  height: 40%;
}

.popup p {
  margin: 0;
  line-height: 1.2em;
}

#score {
  font-size: 1.5em;
}

.button {
  width: 20vw;
  height: 6vh;
  font-family: "Dongle", sans-serif;
  font-size: 1.2em;
  border-radius: 15px;
  box-shadow: 1px 3px 1px black;
  background-color: #7bcbfe;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #d6ecfa;
}

.button:active {
  transition-duration: 2s;
  box-shadow: 1px 1px 1px black;
  transform: scale(0.7);
}


#infoboard {
  z-index: 2;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}

.info {
  width: 20vh;
  border: solid 1px black;
  border-radius: 15px;
  background-color: #7bcbfe;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 1.5em;
}

.hide {
  display: none;
  margin: 0;
}

#board {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-image: url("./images/background5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}



.dog {
  background-image: url("./images/dog-up.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
}

.down {
  background-image: url("./images/dog-down.png");
}

.left {
  background-image: url("./images/dog-left.png");
}

.right {
  background-image: url("./images/dog-right.png");
}

.car {
  background-image: url("./images/car-1.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
}

.forward {
  transform: scaleX(-1);
}
