@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap");
html > body {
  background-color: #99cccd;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Dongle", sans-serif;
  font-weight: 300;
  font-size: 20px;
}

.popup {
  width: 80vw;
  height: 60vh;
  margin: auto;
  z-index: 2;
  position: absolute;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: burlywood;
  border-radius: 10%;
  box-shadow: 0px 0px 2px 2px;
  text-align: center;
}

h1 {
  font-size: 60px;
  margin: 0;
}

.hide {
  display: none;
  margin: 0;
}

.button {
  width: 20vw;
  height: 6vh;
  font-family: "Dongle", sans-serif;
  font-weight: 600;
  font-size: 24px;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px;
}

#board {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #99cccd;
  position: relative;
}

.info {
  z-index: 3;
  width: 50px;
  height: 50px;
  border: solid 1px black;
  border-radius: 50%;
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 1.5em;
}

#score {
  font-size: 1.5em;
}

.dog {
  background-image: url("./images/Dog.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.left {
  transform: scaleX(-1);
}

.car {
  background-image: url("./images/car-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  overflow: hidden;
}
